@charset "UTF-8";

/* ========================================
    ショッピングカートページのスタイル
   ======================================== */

.flame {
  width: 1920px;
}

.bg_image {
  background-image: url(../images/blackboard-gd4fc20ce1_1920.jpg);
  height: 500px;
  width: 100%;
  margin-left: 300px;
}