@charset "UTF-8";

/* ========================================
    フッターの設定
   ======================================== */

footer img {
  width: 125px;
}

footer p {
  font-size: larger !important;
  font-size: 12px;
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

footer {
  font-family: 'League Gothic', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Secular One', sans-serif;
  background-color: black !important;
  color: white !important;
}







