@charset "UTF-8";

/* ========================================
    ヘッダーの設定
   ======================================== */
.navbar {
    height: 100px; /* 好きな高さを指定 */
    background-color: black !important;
}

a.navbar-link{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: 15px;
    padding-top: 0px !important;
    color: white !important;
}

.navbar-text{
    margin-left:100px !important;
    margin-top: 30px;
}

.header-logo{
    margin-top: -5px !important;
    /* margin-bottom: 100px !important; */
}

.panel-body{
    margin: auto !important;
}
