@charset "UTF-8";

/* ========================================
    ヘッダーの設定
   ======================================== */
.navbar {
    height: 100px; /* 好きな高さを指定 */
    background-color: black !important;
}

<<<<<<< Updated upstream
a.navbar-link{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: larger;
    padding-top: 100px !important;
    color: white !important;
=======
<<<<<<< Updated upstream
.header {
  display: flex; /* ヘッダロゴと右側のリンクを横並びにする */
  /* justify-content: flex-end; 右寄せにしたい場合*/
>>>>>>> Stashed changes
}

.navbar-text{
    margin-left:700px !important;
    margin-top: 40px;
}

.header-logo{
    margin-top: -5px !important;
    margin-bottom: 100px !important;
}

.panel-body{
    margin: auto !important;
}
=======
   #navbar-custom {
    height: 100px; /* 好きな高さを指定 */
}

.navbar {
    height: 300px; /* 適切な高さに変更してください */
  }
>>>>>>> Stashed changes
